.navbar {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 600px;
  margin-right: 50px;

  a {
    display: flex;
    align-items: center;
    padding: 30px;
    text-decoration: none;
  }
  .link {
    color: black;
  }
  
  .link-active {
    color: white;
    background: rgb(184, 184, 184);
  }
  
}
